.box{
    width: 300px;
    height: 300px;
    background-color: red;
    transition: all 5s;
    border: 3px solid yellow;
    color: yellow;
    transform-origin: left bottom;
}
.box:hover{
    /* width: 600px;
    height: 600px; */
    background-color: yellow;
    transform:translate(100px,100px) rotate(45deg) scale(2,2);

}
