.box1{
    background-color:#FFF;
    width: 50%;
    height: 300px;
    border: 5px solid #c1c1c1;
}

.box2{
    background-color:aqua;
    width: 50%;
    height: 50%;
    border: 3px double black;
}

/* 
    border: thickness type color;
    solid,dotted,dashed,ridge
*/

