.box1{
    background-color:rgb(130, 117, 0);
    width: 50%;
    height: 300px;
    border: 5px solid black;
}

.box2{
    background-color:aqua;
    width: 50%;
    height: 50%;
    border: 3px double black;

}

/* 
    border: width type color;
    solid,dotted,dashed,ridge
*/