/* body{
    background-color: blue;
} */

/*
 --variableName:value;---> Define
 var(--variableName)---> Call
  */

:root{
    --customColor:yellow;
    --customColor2:orange;
    --spacing:10px;
}

*{
    margin: calc(var(--spacing)/5);
    /* margin: var(--spacing); */
}


h1{
    --customColor:green;
    background-color:var(--customColor);
    color: yellow;
}

/* ul #first{
    background-color: var(--customColor2);
} */
/* li:first-child{
    background-color: yellow;
} */

/* li:last-child{
    background-color: yellow;
} */

/* li:nth-child(odd){
    background-color: green;
} */

/* div:last-child{
    background-color: green;
} */

/* h1:hover{
    --customColor:yellow;
    background-color:var(--customColor);
    color: green;
} */





@media screen and (max-width:400px) {
    body {
        background-color: yellow;
    }
    h1{
        color: blue;
    }
}