/* body{
    background-color: blue;
} */

:root{
    --customColor:green;
    --customColor2:orange;
    --spacing:10px;
}
*{
    /* margin: calc(var(--spacing)*10px); */
    margin: var(--spacing);
}
h1{
    --customColor:green;
    background-color:var(--customColor);
    color: yellow;
}

ul #first{
    background-color: var(--customColor2);
}
li:first-child{
    background-color: yellow;
}

div:last-child{
    background-color: green;
}









/* @media screen and (min-width:400px) {
    body {
        background-color: yellow;
    }
    h1{
        color: blue;
    }
} */