.box1{
  border: 2px solid blue;
  margin: 10px;
  display:inline-flex;
  width: 600px;
  height: 200px;
  justify-content: center; /* horizontal alignment*/
  align-items:center; /* vertical alignment*/
  /* visibility: hidden; */
}
.box2{
  border: 2px solid blue;
  margin: 10px;
  display: inline-flex;
  width: 600px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.box3{
  
  border: 2px solid blue;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
}
.item{
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 5px;
  background-color: red;
  border: 2px solid black;
}

/* block -default
inline
inline-flex
flex
none */