#first_id{
    color: purple;
}
.one{
    color: blue;
    font-size: 30px;
}
.two{
    color: green;
}
#unique{
    color: yellow;
}

.colourful_red{
    background-color: red;
}

.colourful_green{
    background-color: green;
}
.colourful_yellow{
    background-color: yellow;
}
a{
    color: red;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
