p{
    /* font-family:'Courier New', Courier, monospace;
    font-style:italic;
    font-size: 50px;
    font-weight:bolder; */

    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    font-weight:bolder;


    text-transform:capitalize;
    text-indent: 50px;

    letter-spacing:2px;
    word-spacing: 50px;
    line-height: 200px;

    text-shadow: 10px 2px red;
            /* right bottom color */
}